S24.CompetitionApp.ClientService/Connected Services/ScmService/SCMService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://doslaps124/SCBNO.S24.SCMService/SCMService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" />
  <xs:import schemaLocation="http://doslaps124/SCBNO.S24.SCMService/SCMService2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllCompetitions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompetitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllCompetitionsResult" nillable="true" type="q1:ArrayOfCompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsForKAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsForKAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetCompetitionsForKAMResult" nillable="true" type="q2:ArrayOfCompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetCompetitionByIdResult" nillable="true" type="q3:CompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetCompetitionsTypesResult" nillable="true" type="q4:ArrayOfCompetitionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsForSalesperson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsForSalespersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetCompetitionsForSalespersonResult" nillable="true" type="q5:ArrayOfCompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllDealersResult" nillable="true" type="q6:ArrayOfPVDealerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetDealerByIdResult" nillable="true" type="q7:PVDealerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKAMForDealerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKAMForDealerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKAMForDealerByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDealerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDealerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="SearchDealerByNameResult" nillable="true" type="q8:ArrayOfPVDealerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealerGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealerGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllDealerGroupsResult" nillable="true" type="q9:ArrayOfPVDealerGroupSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgreements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgreementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllAgreementsResult" nillable="true" type="q10:ArrayOfPVProductAgreementSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeyAccountManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeyAccountManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllKeyAccountManagersResult" nillable="true" type="q11:ArrayOfPVKeyAccountManagerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyAccountManagerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyAccountManagerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetKeyAccountManagerByIdResult" nillable="true" type="q12:PVKeyAccountManagerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSantanderDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSantanderDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllSantanderDistrictsResult" nillable="true" type="q13:ArrayOfSantanderDistrictSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSantanderDistrictByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSantanderDistrictByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetSantanderDistrictByIDResult" nillable="true" type="q14:SantanderDistrictSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSantanderRegions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSantanderRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllSantanderRegionsResult" nillable="true" type="q15:ArrayOfSantanderRegionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSantanderRegionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSantanderRegionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetSantanderRegionByIdResult" nillable="true" type="q16:SantanderRegionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObjectMakes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObjectMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllObjectMakesResult" nillable="true" type="q17:ArrayOfPVObjectMakeSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectMakeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectMakeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetObjectMakeByIdResult" nillable="true" type="q18:PVObjectMakeSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchObjectMakeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchObjectMakeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="SearchObjectMakeByNameResult" nillable="true" type="q19:ArrayOfPVObjectMakeSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObjectStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllObjectStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetAllObjectStatesResult" nillable="true" type="q20:ArrayOfPVObjectStateSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="competition" nillable="true" type="q21:CompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompetitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCompetitionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="competition" nillable="true" type="q22:CompetitionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompetiton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompetitonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealersForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dealerIds" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealersForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealerOverridesForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dealerIds" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealerOverridesForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalespersonsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salespersonIds" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalespersonsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalespersonPointCorrectionsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="salespersonPointCorrections" nillable="true" type="q26:ArrayOfSalespersonPointCorrectionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalespersonPointCorrectionsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgreementsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="agreementIds" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgreementsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSantanderRegionsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="regionIds" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSantanderRegionsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSantanderDistrictsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIds" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSantanderDistrictsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKeyAccountManagersForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keyAccountManagerIds" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKeyAccountManagersForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealerGroupsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dealerGroupIds" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDealerGroupsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectMakesForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectMakeIds" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectMakesForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectModelsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectModelIds" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectModelsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectStatesForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objectStateIds" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectStatesForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCacheForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCacheForCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingsForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element minOccurs="0" name="rankFrom" type="xs:int" />
        <xs:element minOccurs="0" name="rankTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingsForCompetitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetRankingsForCompetitionResult" nillable="true" type="q35:ArrayOfCompetitionRanking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalespersonRankingForCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="competitionId" type="xs:int" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalespersonRankingForCompetitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SCBNO.S24.SCM.Models" minOccurs="0" name="GetSalespersonRankingForCompetitionResult" nillable="true" type="q36:CompetitionRanking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInSharePointGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInSharePointGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUsersInSharePointGroupResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPictureByNameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFollower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesPersonId" type="xs:int" />
        <xs:element minOccurs="0" name="salesPersonFollowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFollowerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFollower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesPersonId" type="xs:int" />
        <xs:element minOccurs="0" name="salesPersonFollowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFollowerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowersForSalesPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesPersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowersForSalesPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFollowersForSalesPersonResult" nillable="true" type="q38:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>